<h1>All Questions</h1>
<%= link_to "Ask a question", new_question_path %>
<div class="row">
  <% @questions.each do |question| %>
    <div class="question-index question col-xs-12 col-sm-4 col-md-3">
      <h2><%= link_to question.title, question_path(question) %></h2>
      <%= question.body.truncate(100) %>
    </div>
  <% end %>
</div>
<%= paginate @questions %>
