<div class="question">
  <h1>About Us</h1>
  <p>Welcome to Awesome Answers</p>

  <p>Post a question and get some answers!</p>

  <p>We also hve various tools to help you out. See the navigation bar!</p>
</div>
